h1 {
  color: greenyellow;
  background-color: blue;
  padding: 50px;
  margin: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
}
.warning {
  color: red;
  font-family: cursive;
}
.info {
  color: #00ff00;
}
.techstuff {
  color: #dadada;
}
nav#topnav {
  color: #d00d1e;
}
nav#bottomnav {
  color: springgreen;
}
a {
  text-decoration: none;
  color: coral;
}
a:link {
  color: #d00d1e;
}
